.DS_Store
.bash_history
.bashrc
.ssh/
.nova/
node_modules/
backup/
core/*
!core/components/
core/components/*
!core/components/{name}/
site/assets/*
site/connectors/*
site/pflege/*
site/upload/*
site/config.core.php
site/index.php
site/.htaccess
!/site/assets/tpl
/site/assets/tpl/{name}/frontend/node_modules/