{
    "trailingComma": "es5",
    "tabWidth": 4,
    "singleQuote": true,
    "bracketSpacing": false,
    "arrowParens": "always",
    "overrides": [
        {
            "files": ["*.md", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
