---
layout: default
title: >-
    CurlyFramework for accessibility and sustainability
description: >-
    Powered by Alpine.js and flavoured with lessons learned over the years.
features:
    - Utility CSS
    - Figma Export Plugin
    - '&lt;details&gt;'
    - Sustainability Loading
    - Sa11y.js
    - Figma Template
    - Checklist
    - Styleguide
    - CSS First
    - Zoom Detector
    - Content-Security-Policy
    - Claude AI
    - Statamic CMS
    - Kirby CMS
    - Fluid Scale
    - Text to Speech
    - Focus Highlight
    - Form CSS
    - MODX CMS
    - AlpineJS
    - Design Tokens
    - Scrollsnap
    - Accessible Code Samples
    - CSS Variables
    - Popover API
    - Page Speed Optimisation
    - CSS Parallax
---

<section aria-label="Intro" id="info" class="dc">
    <div class="col-full vh-75">
        <h1 class="mw8 f4 f5-m lh-title tc center mt8">
            Frontend Framework for accessibility and sustainability.
        </h1>
        <p
            class="col-full start-2-m end-12-m f2 f3-m lh-title tc pb6-m mt5 mb8"
        >
            Powered by
            <a href="http://alpinejs.dev" class="bb">Alpine.js</a> and flavoured
            with lessons learned over the years.
        </p>
    </div>

    <div class="col-full overflow-clip nl4 nr4 nb8 nl6-m nr6-m">
        <p
            class="scroll scroll--move flex g4 g7-m f5 lh-solid"
            style="
                --typo-5: 15vw;
                --scroll-move-x-start: calc(100% + 40vh);
                --scroll-move-x-end: calc(-100% - 40vh);
            "
        >
            <span class="clip">Call it:</span>
            CurlyFramework
        </p>
    </div>
    <div class="start-5 end-9 nt5 nt8-m">{% include cooking.html %}</div>
</section>

<section aria-labelledby="intro" class="dc">
    <h2 id="intro" class="start-1 end-10 end-5-m f2 f4-m lh-title mt8">
        Better accessibility and sustainability in web development?
    </h2>
    <div class="start-1 start-6-m end-last f1 f2-m mt8-m">
        <p class="m0">
            It doesn't have to be a complete overhaul, small steps can help you
            get there. I recommend Michelle Barker's talk "<a
                href="https://css-irl.info/video-building-a-greener-web/"
                rel="noreferrer"
                class="bb"
                >Building a greener web</a
            >" at "All Day Hey! 2023". Here are some tips:
        </p>
        <ul class="m3" style="list-style-type: '⇢ '">
            <li>Use WebP/AVIF and native lazyload (images, embeds).</li>
            <li>Use fewer fonts and try to use variable fonts (.woff2).</li>
            <li>Load embeds only on user interaction.</li>
            <li>Test keyboard navigation and reduced-motion.</li>
            <li>
                Find a community to test and discuss accessibility and
                sustainability with real people.
            </li>
        </ul>
        <p>
            This toolset is designed to inspire you and provide you with
            learning resources. Feel free to copy, use, share and collaborate
            with it.
        </p>
    </div>
</section>

<section aria-labelledby="headline2" class="col-full tc mt8">
    <h2 id="headline2" class="f5 lh-solid mb5">Buzzwords for Fame</h2>
    <ul class="list flex flex-wrap justify-center g1 g3-m mw7 center">
        {% for feature in page.features %}
        <li class="scroll scroll--fade">
            <div
                class="scroll scroll--scale f2 f4-m violet-10 ph3 pv1 bg-violet-5 br6 bounce"
                style="
                    --scroll-scale-start: 0;
                    --scroll-scale-center: 1;
                    --scroll-scale-end: 1;
                "
            >
                {{ feature }}
            </div>
        </li>
        {% endfor %}
    </ul>
</section>

<section
    aria-label="Installation"
    class="scroll scroll--scale col-full tc mv8"
    style="
        --scroll-scale-start: 0.8;
        --scroll-scale-center: 1;
        --scroll-scale-end: 1;
    "
>
    <h2 id="installation" class="f3 f5-m lh-solid">Get it now:</h2>
    <p
        class="w-min-content nowrap f3 f5-m violet-9 ph2 ph4-m center mt2 mb5 bg-black br5"
    >
        <span class="o-50">$</span> npm i curlyframework
    </p>
    <div class="mw7 f1 center">
        <p>
            Include the CSS and JS files in your markup and you are ready to go!
            Override the CSS settings using custom properties and use inline JS
            via AlpineJS to skip the build process. Need more? Install
            dependency via
            <span class="violet-9 ph1 bg-black br2">npm i</span> and use
            <a href="https://codekitapp.com/" rel="noreferrer" class="bb"
                >CodeKit</a
            >
            (or use the fallback npm commands) to compile your assets. Play
            around, learn and share.
        </p>
    </div>
</section>

<section class="col-full flex flex-wrap justify-center g1 mw7 f1 gray-5 center">
    <h2 class="w-100 tc">Thanks:</h2>
    <ul class="list dc">
        <li>
            <a href="https://alpinejs.dev/" rel="noreferrer" class="bb"
                >alpine.js <span class="clip">framework</span></a
            >
        </li>
        <li>
            <a href="https://tachyons.io/" rel="noreferrer" class="bb"
                >tachyons.io</a
            >
        </li>
        <li>
            <a href="https://modx.com/" rel="noreferrer" class="bb">modx.com</a>
        </li>
        <li>
            <a href="https://getkirby.com/" rel="noreferrer" class="bb"
                >getkirby.com</a
            >
        </li>
        <li>
            <a href="https://statamic.com/" rel="noreferrer" class="bb"
                >statamic.com</a
            >
        </li>
        <li>
            <a href="https://phosphoricons.com/" rel="noreferrer" class="bb"
                >phosphoricons.com</a
            >
        </li>
        <li>
            <a
                href="https://modmore.com/contentblocks"
                rel="noreferrer"
                class="bb"
                >modmore.com</a
            >
        </li>
        <li>
            <a href="https://www.dzblesen.de/" rel="noreferrer" class="bb"
                >dzblesen.de</a
            >
        </li>
        <li>
            <a
                href="https://www.barrierefreies-webdesign.de/"
                rel="noreferrer"
                class="bb"
                >barrierefreies-webdesign.de</a
            >
        </li>
        <li>
            <a href="https://www.oidaisdes.org/" rel="noreferrer" class="bb"
                >oidaisdes.org</a
            >
        </li>
    </ul>
</section>
