/*@font-face {
    font-family: 'LatoMedium';
    src: url('font/Lato-Medium.eot');
    src: url('font/Lato-Medium.eot?#iefix') format('embedded-opentype'),
         url('font/Lato-Medium.woff') format('woff'),
         url('font/Lato-Medium.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}*/

// Fontcolor
.blue {	color: $blue; }
.gray { color: $gray; }
.lightest-gray { color: $lightest-gray; }
.light-gray { color: $light-gray; }
.dark-gray { color: $dark-gray; }

* {
	//font-family: 'LatoMedium', sans-serif !important;
	color: $dark-gray;
}

/*html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}*/