.icon {
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.icon-small {
	@include remfb(width, 1.5);
	@include remfb(height, 1.5);
}

.icon-middle {
	@include remfb(width, 2);
	@include remfb(height, 2);
}

.icon-big {
	@include remfb(width, 3);
	@include remfb(height, 3);	
}

.icon-phone { background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="250px" height="250px" viewBox="0 0 250 250" enable-background="new 0 0 250 250" xml:space="preserve"><path d="M198.28,167.4c0.31,2.38-0.41,4.45-2.17,6.21l-20.66,20.5c-0.93,1.04-2.15,1.92-3.65,2.64c-1.5,0.72-2.98,1.19-4.42,1.4	c-0.1,0-0.42,0.03-0.93,0.08c-0.52,0.05-1.19,0.08-2.02,0.08c-1.97,0-5.15-0.34-9.55-1.01c-4.4-0.67-9.79-2.33-16.15-4.97	c-6.37-2.64-13.59-6.6-21.67-11.88c-8.07-5.28-16.67-12.53-25.78-21.74c-7.25-7.14-13.25-13.98-18.02-20.5	c-4.76-6.52-8.59-12.55-11.49-18.09c-2.9-5.54-5.07-10.56-6.52-15.07c-1.45-4.5-2.43-8.39-2.95-11.65	c-0.52-3.26-0.72-5.82-0.62-7.69c0.1-1.86,0.15-2.9,0.15-3.11c0.21-1.45,0.67-2.93,1.4-4.43c0.72-1.5,1.6-2.72,2.64-3.65	l20.66-20.66c1.45-1.45,3.11-2.17,4.97-2.17c1.35,0,2.54,0.39,3.57,1.16c1.04,0.78,1.92,1.73,2.64,2.87l16.62,31.53	c0.93,1.66,1.19,3.47,0.78,5.44c-0.41,1.97-1.29,3.62-2.64,4.97l-7.61,7.61c-0.21,0.21-0.39,0.54-0.54,1.01	c-0.15,0.46-0.23,0.85-0.23,1.16c0.41,2.17,1.35,4.66,2.8,7.45c1.24,2.48,3.16,5.51,5.75,9.09c2.59,3.57,6.26,7.69,11.03,12.35	c4.66,4.76,8.8,8.46,12.42,11.1c3.62,2.64,6.65,4.58,9.09,5.82c2.43,1.24,4.3,1.99,5.59,2.25l1.94,0.39c0.21,0,0.54-0.08,1.01-0.23	c0.46-0.16,0.8-0.34,1.01-0.54l8.85-9.01c1.86-1.66,4.04-2.48,6.52-2.48c1.76,0,3.16,0.31,4.19,0.93h0.16l29.97,17.71	C196.57,163.62,197.87,165.33,198.28,167.4"/></svg>'); }