.markdown {
	
	h1 {
	}
	
	h2 {
	}	
	
	h3 {
	}
	
	h4 {
	}
	
	h5 {
	}
	
	p {
		
		@include breakpoint($desktop) {
			/*column-count: 2;
			@include remfb(column-gap, 3);
			-moz-column-count: 2;
			@include remfb(-moz-column-gap, 3);
			-webkit-column-count: 2;
			@include remfb(-webkit-column-gap, 3);
			text-align: justify;*/
		}
	}	
	
}