

// Custom Media Query Variables

$breakpoint-sm-width: 40em;
$breakpoint-md-width: 52em;
$breakpoint-lg-width: 64em;
$breakpoint-xl-width: 75em;
$breakpoint-sm: '(min-width: 40em)' !default;
$breakpoint-md: '(min-width: 52em)' !default;
$breakpoint-lg: '(min-width: 64em)' !default;
$breakpoint-xl: '(min-width: 75em)' !default;