@import "basscss";
@import "variables";
@import "mixins";
@import "slick";
@import "boxer";
@import "icons";
@import "font";
@import "nav";
@import "styling";
@import "markdown";

// Device check
.check-device { font-size: 1px !important; }
@include breakpoint($tablet) { //tablet
	.check-device { font-size: 2px !important; }
}
@include breakpoint($desktop) { //desktop
	.check-device { font-size: 3px !important; }
}