/*

   TEXT ALIGN
   Docs: https://tachyons.io/docs/typography/text-align/

   Base
     t = text-align

   Modifiers
     l = left
     r = right
     c = center
     j = justify

   Media Query Extensions:
     -s = small
     -m = medium
     -l = large

*/

.tl  { text-align: start; }
.tr  { text-align: end; }
.tc  { text-align: center; }
.tj  { text-align: justify; }

@media (--breakpoint-small) {
  .tl-s  { text-align: start; }
  .tr-s  { text-align: end; }
  .tc-s  { text-align: center; }
  .tj-s  { text-align: justify; }
}

@media (--breakpoint-medium) {
  .tl-m  { text-align: start; }
  .tr-m  { text-align: end; }
  .tc-m  { text-align: center; }
  .tj-m  { text-align: justify; }
}

@media (--breakpoint-large) {
  .tl-l  { text-align: start; }
  .tr-l  { text-align: end; }
  .tc-l  { text-align: center; }
  .tj-l  { text-align: justify; }
}

