/*

   UTILITIES

   Media Query Extensions:
     -s = small
     -m = medium
     -l = large

*/

/* Equivalent to .overflow-y-scroll */
.overflow-container {
  overflow-y: scroll;
}

.center {
  margin-inline: auto;
}

.mt-auto { margin-block-start: auto; }
.mr-auto { margin-inline-end: auto; }
.ml-auto { margin-inline-start: auto; }
.mb-auto { margin-block-end: auto; }

@media (--breakpoint-small){
  .center-s {
    margin-inline: auto;
  }
  .mt-auto-s { margin-block-start: auto; }
  .mr-auto-s { margin-inline-end: auto; }
  .ml-auto-s { margin-inline-start: auto; }
  .mb-auto-s { margin-block-end: auto; }
}

@media (--breakpoint-medium){
  .center-m {
    margin-inline: auto;
  }
  .mt-auto-m { margin-block-start: auto; }
  .mr-auto-m { margin-inline-end: auto; }
  .ml-auto-m { margin-inline-start: auto; }
  .mb-auto-m { margin-block-end: auto; }
}

@media (--breakpoint-large){
  .center-l {
    margin-inline: auto;
  }
  .mt-auto-l { margin-block-start: auto; }
  .mr-auto-l { margin-inline-end: auto; }
  .ml-auto-l { margin-inline-start: auto; }
  .mb-auto-l { margin-block-end: auto; }
}
