<footer class="dc">
    <nav
        id="navigation"
        class="flex flex-column dg-m cols-3-m g4 f4 pb5 ph8-m pb0-m mt8"
    >
        <ul aria-label="Resources" class="list dc">
            <li class="start-1-m row-start-1-m">
                <a
                    href="https://www.figma.com/community/file/1616219999807560240"
                    rel="noreferrer"
                    class="flex flex-column items-center justify-center g2 tc pa4 bg-violet-11 ba bw3 br-100 br--top aspect-ratio-1x1 grow"
                >
                    <img
                        src="styleguide/img/icons/figma-template.svg"
                        alt=""
                        width="106"
                        height="106"
                        class="db w-25 h-inherit"
                    />
                    Figma Template
                </a>
            </li>
            <li class="start-1-m row-start-2-m aspect-ratio-1x1">
                <a
                    href="https://www.figma.com/community/plugin/1618406570618627029/curlyframework-token-export"
                    rel="noreferrer"
                    class="flex flex-column items-center justify-center g2 tc pa4 bg-violet-11 ba bw3 br-100 br--bottom aspect-ratio-1x1 grow"
                >
                    <img
                        src="styleguide/img/icons/figma-plugin.svg"
                        alt=""
                        width="114"
                        height="114"
                        class="db w-25 h-inherit"
                    />
                    Figma Plugin
                </a>
            </li>
            <li class="start-2-m row-start-1-m row-end-3-m">
                <a
                    href="docs/samples.html"
                    class="flex flex-column items-center justify-center g2 tc pa4 bg-violet-11 pv8 ba bw3 br6 h-100 grow"
                >
                    <img
                        src="styleguide/img/icons/samples.svg"
                        alt=""
                        width="114"
                        height="84"
                        class="db w-25 h-inherit"
                    />
                    Samples
                </a>
            </li>
            <li class="start-3-m row-start-1-m aspect-ratio-1x1">
                <a
                    href="docs/checklists.html"
                    class="flex flex-column items-center justify-center g2 tc pa4 bg-violet-11 ba bw3 br-100 br--right aspect-ratio-1x1 grow"
                >
                    <img
                        src="styleguide/img/icons/checklist.svg"
                        alt=""
                        width="118"
                        height="127"
                        class="db w-25 h-inherit"
                    />
                    Checklist
                </a>
            </li>
            <li class="start-3-m row-start-2-m aspect-ratio-1x1">
                <a
                    href="https://github.com/jenswittmann/CurlyFramework"
                    rel="noreferrer"
                    class="flex flex-column items-center justify-center g2 tc pa4 bg-violet-11 ba bw3 br-100 aspect-ratio-1x1 grow"
                >
                    <img
                        src="styleguide/img/icons/github.svg"
                        alt=""
                        width="98"
                        height="98"
                        class="db w-25 h-inherit"
                    />
                    GitHub
                </a>
            </li>
        </ul>
        <ul
            aria-label="Legal Information"
            class="list start-2-m flex justify-between f2"
        >
            <li>
                <a
                    href="https://jens-wittmann.de/#kontakt"
                    rel="noreferrer"
                    class="bb"
                    >Imprint</a
                >
            </li>
            <li>
                <a
                    href="https://jens-wittmann.de/#kontakt"
                    rel="noreferrer"
                    class="bb"
                    >Privacy</a
                >
            </li>
        </ul>
    </nav>
</footer>
