// skiplinks
.skiplinks {
    position: fixed;
    top: -100rem;
    left: -100rem;
    z-index: 1000;
    width: 0;
    height: 0;
    list-style-type: none;

    a {
        &:focus,
        &:active {
            position: fixed;
            top: 0;
            left: 0;
            color: CanvasText;
            padding: 1rem;
            margin: 1em;
            background-color: white;
        }
    }
}

// hide animation if not wanted
* {
    @media (prefers-reduced-motion: reduce) {
        animation: none !important;
        transition: inherit !important;
        transition-duration: 0 !important;
    }
}

// focus highlight
// thanks to https://www.oidaisdes.org/de/two-color-focus-indicator.de/
*:focus-visible,
.focus-visible {
    outline: 3px #fff solid;
    outline-offset: 3px;
    box-shadow: 0 0 0 5px #000;
}
