// smooth scrolling
@media (prefers-reduced-motion: no-preference) {
    .smooth-scroll {
        &,
        * {
            scroll-behavior: smooth;
        }
    }
}

// transition classes
.transition {
    &-small {
        transition: var(--animation-time-small);
    }

    &-medium {
        transition: var(--animation-time-medium);
    }

    &-large {
        transition: var(--animation-time-large);
    }
}

// easing
.bounce {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

// parallax
.scroll {
    $p: &;

    &--move {
        transform: translate(
                var(--scroll-move-x-start, 0),
                var(--scroll-move-y-start, 0)
            )
            rotate(var(--scroll-move-rotate-start, 0deg));
        animation: parallax-up linear forwards;
        animation-timeline: view();
    }

    @keyframes parallax-up {
        0% {
            transform: translate(
                    var(--scroll-move-x-start, 0),
                    var(--scroll-move-y-start, 0)
                )
                rotate(var(--scroll-move-rotate-start, 0deg));
        }
        100% {
            transform: translate(
                    var(--scroll-move-x-end, 0),
                    var(--scroll-move-y-end, 0)
                )
                rotate(var(--scroll-move-rotate-end, 0deg));
        }
    }

    &--parallax-bg {
        #{$p}__item {
            height: 80vh;
            object-fit: cover;
            animation: parallax-bg linear forwards;
            animation-timeline: view();
        }
    }

    @keyframes parallax-bg {
        0% {
            object-position: 0 0%;
        }
        100% {
            object-position: 0 100%;
        }
    }

    &--fade {
        opacity: var(--scroll-fade-start, 0);
        animation: fade linear forwards;
        animation-timeline: view();
    }

    @keyframes fade {
        0% {
            opacity: var(--scroll-fade-start, 0);
        }
        50% {
            opacity: var(--scroll-fade-center, 1);
        }
        100% {
            opacity: var(--scroll-fade-end, 0);
        }
    }

    &--scale {
        transform: scale(var(--scroll-scale-start, 0));
        transform-origin: var(--scroll-scale-origin, center);
        animation: scale linear forwards;
        animation-timeline: view();
    }

    @keyframes scale {
        0% {
            transform: scale(var(--scroll-scale-start, 0));
        }
        50% {
            transform: scale(var(--scroll-scale-center, 1));
        }
        100% {
            transform: scale(var(--scroll-scale-end, 0));
        }
    }
}

// pulse
.pulse {
    transition-timing-function: cubic-bezier(0.3, 0.8, 0.3, 2.3);
}
