:root {
    --color-main: #292f33;
    --color-cta: oklch(82.77% 0.0329 301.49);
}
// left bar
#modx-header {
    background-color: var(--color-main);
}

.primary-button.x-btn,
.x-btn-focus.primary-button.x-btn:not(.x-btn-over),
.redactor-modx3 .redactor-modal button,
button.c-button:not(.c-button--ghost),
#modx-login-btn {
    color: black;
    background-color: var(--color-cta);

    &:hover,
    &:focus {
        color: black;
        background-color: oklch(86% 0.0329 301.49);
    }
}

#login {
    a,
    .c-button--ghost {
        color: black;
    }

    .c-button--ghost .c-arrow {
        stroke: black;
    }
}

#modx-home-dashboard {
    a {
        display: block;
        width: 100%;
        height: 100%;
        background: #fff url('/assets/tpl/default/frontend/favicon.svg')
            no-repeat center;
        background-size: 70%;
        border-radius: 0.5rem;
    }

    img {
        display: none;
    }
}

// content backgrounds
#modx-resource-settings #modx-resource-main-left,
#modx-resource-settings #modx-resource-main-right,
#modx-leftbar .x-tree .x-panel-body,
.x-tab-panel-noborder .x-tab-panel-body-noborder,
.tree-pseudoroot-node.x-tree-node-el + .x-tree-node-ct,
.tree-pseudoroot-node.x-tree-node-el + div > .x-tree-node-ct,
.x-tree-node {
    &,
    .modx-resource-panel {
        background-color: #eee;
    }
}

#modx-leftbar {
    padding-right: 3rem;
    background-color: #eee;
}

.x-tab-panel-header ul.x-tab-strip {
    li {
        &:hover {
            background-color: #eee;
        }

        &.x-tab-strip-active {
            font-weight: bold;
            background-color: #eee;
            opacity: 1;

            &:hover {
                background-color: #eee;
            }

            .x-tab-strip-text {
                color: black;
            }
        }
    }
}

// hide resource buttons
#modx-abtn-cancel,
#modx-abtn-help {
    display: none !important;
}

// ContentBlocks: use Block Canvas
#contentblocks-block-panel-wrapper {
    margin-top: 50px !important;
    background-color: transparent;
    box-shadow: none;

    .x-panel-header {
        display: none !important;
    }

    .contentblocks-layout-wrapper > li .contentblocks-add-layout {
        display: none !important;
    }
}

// ContentBlocks: add layout
.contentblocks-add-layout {
    display: none !important;
    // margin: -1px !important;

    // h3 a {
    //     height: auto;
    //     padding: 25px 0;
    //     background-color: transparent !important;
    // }
}

// .contentblocks-region.contentblocks-region-middle {
//     background-color: #eee !important;
// }

.contentblocks-add-content-here {
    position: relative !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    background-color: #f1f1f1;
}

// ContentBlocks: style layout title
.contentblocks-layout-title {
    opacity: 0.5;
}

// ContentBlocks: hide collapse
.contentblocks-collapser {
    display: none !important;
}

// ContentBlocks: image upload
.contentblocks-setting-image {
    .field-label {
        display: none;
    }
}

.contentblocks-field-image-upload,
.contentblocks-field-gallery-upload,
.contentblocks-field-file-upload {
    padding: 10px;
    background: #fcfcfc;
    border: 1px solid #e5e5e5;
}

.contentblocks-field-button {
    &.contentblocks-field-image-choose,
    &.contentblocks-field-gallery-choose,
    &.contentblocks-field-file-choose {
        font-size: inherit;
        color: #1a7fb8;
        padding-right: 0;
        background-color: transparent;
        border-color: transparent;
    }

    &.contentblocks-field-file-choose {
        &:after {
            content: ' oder eine Datei in diesen Bereich ziehen (Drag & Drop)';
            color: black;
        }
    }

    &.contentblocks-field-upload,
    &.contentblocks-field-gallery-url,
    &.contentblocks-field-image-url {
        display: none;
    }
}

// ContentBlocks: repeater field labels
// .contentblocks-repeater-mini {
//     .contentblocks-field-link,
//     .contentblocks-float-label {
//         label {
//             padding: 5px;
//             background-color: white;
//         }
//     }
// }

// ContentBlocks: chunk selector
.contentblocks-field-chunk_selector {
    pointer-events: none;
    position: relative;

    &:before {
        content: 'Only for Admin 🤙🏻';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: gray;
        text-align: center;
    }

    * {
        filter: blur(0.2rem);
    }
}

// ContentBlocks: layout field settings
.contentblocks-region-container {
    background-color: #eeeeee !important;
}

.modx_v23 .contentblocks-region-container-header {
    border-top: 1px solid #e4e4e4;
    box-shadow: none;
}

.contentblocks-region-container-header {
    display: none !important;
}

.contentblocks-region-container-tools {
    display: none;
}

.contentblocks-region-container-header {
    &:hover,
    &:focus {
        .contentblocks-region-container-tools {
            display: block !important;
        }
    }
}

.contentblocks-region-settings {
    border-bottom: 2px solid #eee;

    .contentblocks-exposed-fields-wrapper.contentblocks-exposed-fields-as-setting-wrapper {
        display: grid;
        margin: -10px 0;

        & > label {
            display: none;
        }

        .contentblocks-modal-field {
            display: flex;
            align-items: center;
            padding: 5px 0;

            label {
                overflow: hidden;
                width: 40%;
                font-size: 9px;
                text-indent: -10px;
                margin: 0;
            }

            input {
                width: 60%;
                padding: 3px;
                margin-right: 10px;
            }

            .contentblocks-setting-description {
                display: none;
            }
        }
    }
}

// [data-layout="1"] {
//     .contentblocks-region-settings
//         .contentblocks-exposed-fields-wrapper.contentblocks-exposed-fields-as-setting-wrapper {
//         grid-template-columns: 1fr 1fr;
//     }
// }

// [data-layout="2"] {
//     .contentblocks-region-settings
//         .contentblocks-exposed-fields-wrapper.contentblocks-exposed-fields-as-setting-wrapper {
//         grid-template-columns: 1fr 1fr 1fr 1fr;
//
//         .contentblocks-modal-field {
//             &:nth-child(3),
//             &:nth-child(7) {
//                 margin-left: 4px;
//                 border-right: 5px solid #f5f5f5;
//             }
//         }
//     }
// }

// ContentBlocks: layout system
// [data-layout="3"] {
//     .contentblocks-add-layout.contentblocks-add-layout-here,
//     .contentblocks-add-block,
//     .contentblocks-region-container-header,
//     .contentblocks-field-delete,
//     .contentblocks-add-content-here {
//         display: none !important;
//     }
//
//     .contentblocks-field-wrap,
//     .contentblocks-region.contentblocks-region-middle {
//         padding: 0;
//         border: 0;
//     }
// }

// ContentBlocks: system fields
// [data-layout="3"] [data-field] {
//     background-color: white;
//     padding-bottom: 20px;
//     margin: -10px -1px 0 -1px;
//
//     img {
//         max-width: 15rem;
//     }
//
//     .contentblocks-field-image-title {
//         display: none;
//     }
// }

// ContentBlocks: repeater project details
// [data-field="11"] {
//     .contentblocks-field-outer {
//         margin: 0;
//     }
//
//     .contentblocks-field > label {
//         display: none;
//     }
//
//     .contentblocks-field label {
//         margin: 2px 0;
//     }
//
//     .contentblocks-repeater-wrapper.contentblocks-repeater-1-columns {
//         margin: 0 -3px;
//     }
//
//     .contentblocks-repeater-row {
//         padding: 0;
//         margin: 0;
//         border: 0 !important;
//     }
//
//     .contentblocks-field-actions-top {
//         display: none;
//     }
//
//     .contentblocks-repeater-item-wrapper
//         > li
//         > div
//         > .contentblocks-field-repeater
//         > .contentblocks-repeater-wrapper {
//         margin: 0;
//         border: 0;
//     }
//
//     .contentblocks-repeater-item-actions {
//         top: 0;
//         right: -10px;
//         z-index: 1;
//         background-color: transparent;
//     }
//
//     .contentblocks-field-actions-bottom {
//         padding: 0;
//     }
//
//     .contentblocks-repeater-add-item {
//         transform: scale(0.75);
//     }
// }

// ContentBlocks: hide add layout for team members
// .template-id-3 {
//     .contentblocks-add-layout {
//         display: none;
//     }
// }

// ContentBlocks repeater fields: move settings on first position
.modx_v23 .contentblocks-field-wrap {
    display: flex;
    flex-direction: column-reverse;
    border: 0;
}

// ContentBlocks modal
#contentblocks-modal-mask {
    opacity: 0.5;
    background-color: #000;
}

.contentblocks-modal {
    &-header {
        .switch-view {
            display: none !important;
        }
    }
}

// MagicPreview
.mmmp-panel {
    $panel: &;

    // Overlay
    border-left: 3px solid var(--color-cta, #000);
    box-shadow: none !important;

    &--onpage {
        #{$panel}__toolbar {
            height: 0px;
            padding: 0;
            justify-content: end;
            background-color: transparent;

            #{$panel}__breakpoints,
            #{$panel}__save-draft,
            #{$panel}__reload {
                display: none !important;
            }

            #{$panel}__close {
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 1;
                background-color: white;
                border-radius: 3px;
                box-shadow: 0 0 0 1px #e4e4e4;

                svg {
                    color: black;
                    stroke-width: 2px;
                }
            }
        }
    }

    &-onpage-active {
        .x-panel-body {
            width: 100% !important;
        }

        #modx-resource-main-left {
            width: calc(100% - 40px) !important;
        }

        #modx-resource-main-right {
            width: calc(100% - 10px) !important;
            margin-top: 10px !important;
            margin-left: 0 !important;
        }
    }
}

// collections buttons
.collections-grid {
    .actions {
        a {
            font-weight: normal;
            background: none;
        }
    }
}
