@use "bundle";

// vars
@custom-media --breakpoint-medium (min-width: 30em);

.print {
    // print show and hide
    &__hide {
        display: none !important;
    }

    &__show {
        display: block !important;
    }

    // color swap for printing
    &__black {
        color: black;
    }

    &__bg-white {
        background-color: white;
    }
}
