// hide tab focus if not needed
html {
    &:not(.focus-outline) {
        * {
            &:focus {
                outline: 0;
            }
        }
    }

    &.focus-outline {
        * {
            &:focus {
                outline-width: max(2px, 0.08em);
                outline-offset: max(4px, 0.08em);
            }
        }
    }
}

// skiplinks
.skiplinks {
    position: fixed;
    top: -100rem;
    left: -100rem;
    z-index: 1000;
    width: 0;
    height: 0;

    a {
        &:focus,
        &:active {
            position: fixed;
            top: 0;
            left: 0;
            padding: 1rem;
            background-color: white;
        }
    }
}

// hide animation if not wanted
* {
    @media (prefers-reduced-motion: reduce) {
        animation: none !important;
        transition: inherit !important;
        transition-duration: 0 !important;
    }
}
