// fade in lazyloaded image after load
.lazyload,
.lazyloading {
    opacity: 0;
}

.lazyloaded,
video.lazyloading {
    opacity: 1;
    transition: opacity $animation-time-small;
}

// transition classes
.transition {
    &-small {
        transition: $animation-time-small;
    }

    &-medium {
        transition: $animation-time-medium;
    }

    &-large {
        transition: $animation-time-large;
    }
}
