// smooth scrolling
@media (prefers-reduced-motion: no-preference) {
    .smooth-scroll {
        &,
        * {
            scroll-behavior: smooth;
        }
    }
}

// transition classes
.transition {
    &-small {
        transition: var(--animation-time-small);
    }

    &-medium {
        transition: var(--animation-time-medium);
    }

    &-large {
        transition: var(--animation-time-large);
    }
}
