.btn {
    cursor: pointer;

    &--nav {
        position: relative;
        width: 2.5rem;
        height: 2rem;
        padding: 0;
        background-color: transparent;
        border: 0;

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 0.1em;
            background-color: currentcolor;
            transition: $animation-time-small;
        }

        &[aria-expanded="false"] {
            &:before {
                animation: $animation-time-small btn--nav1-reverse;
                transform: translateY(-200%);
            }
            &:after {
                animation: $animation-time-small btn--nav2-reverse;
                transform: translateY(200%);
            }
        }

        &[aria-expanded="true"] {
            &:before {
                transform: rotate(45deg);
                animation: $animation-time-small btn--nav1;
            }
            &:after {
                transform: rotate(-45deg);
                animation: $animation-time-small btn--nav2;
            }
        }

        @keyframes btn--nav1 {
            0% {
                transform: translateY(-200%);
            }
            50% {
                transform: translateY(0);
            }
            100% {
                transform: rotate(45deg);
            }
        }

        @keyframes btn--nav1-reverse {
            0% {
                transform: rotate(45deg);
            }
            50% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(-200%);
            }
        }

        @keyframes btn--nav2 {
            0% {
                transform: translateY(200%);
            }
            50% {
                transform: translateY(0);
            }
            100% {
                transform: rotate(-45deg);
            }
        }

        @keyframes btn--nav2-reverse {
            0% {
                transform: rotate(-45deg);
            }
            50% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(200%);
            }
        }
    }
}
