// headline
.headline {
    line-height: var(--lh-title);
    margin-top: 2em;
    margin-bottom: 1em;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

// richtext
/*! purgecss start ignore */
.richtext {
    * {
        margin: 0;
    }

    > * + * {
        margin-top: 1.5em;
    }

    > * + :is(h1, h2, h3) {
        margin-top: 2em;
    }

    h2 {
        font-size: 1.75em;
        @extend .lh-solid;
    }

    h3 {
        font-size: 1.5em;
        @extend .lh-title;
    }

    h4 {
        font-size: 1.22em;
        @extend .lh-title;
    }

    h5 {
        font-size: 1.1em;
    }

    ul,
    ol {
        padding: 0;
        padding-left: 1.1em;
    }

    li + li {
        margin-top: 0.5em;
    }

    a {
        text-decoration: underline;
        text-decoration-thickness: from-font;
        hyphens: auto;
    }
}
/*! purgecss end ignore */

// image
.image {
    & + .richtext,
    & + .image {
        margin-top: 1em;
    }
}
