// headline
.headline {
    line-height: var(--lh-title);
    margin-top: 2em;
    margin-bottom: 1em;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

// richtext
.richtext {
    * + * {
        margin-top: 1em;
    }

    h2 {
        @extend .f6;
    }

    h3 {
        @extend .f5;
    }

    h4 {
        @extend .f4;
    }

    h5 {
        @extend .f3;
    }

    ul,
    ol {
        padding: 0;
        padding-left: 1.1em;
    }

    li + li {
        margin-top: 0.5em;
    }

    h2 + h3 {
        margin-top: 0.5em;
    }

    a {
        text-decoration: underline;
        text-decoration-thickness: from-font;
    }
}

// image
.image {
    & + .richtext,
    & + .image {
        margin-top: 1em;
    }
}
