// headline
.headline {
    line-height: var(--lh-title);
    margin-top: 2em;
    margin-bottom: 1em;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

// richtext
.richtext {

    * + * {
        margin-top: 1em;
    }

    * + h2,
    * + h3 {
        margin-top: 2em;
    }

    ul,
    ol {
        padding: 0;
        padding-left: 1.1em;
    }

    li + li {
        margin-top: .5em;
    }

    h2 + h3 {
        margin-top: .5em;
    }
}

// image
.image {
    & + .richtext,
    & + .image {
        margin-top: 1em;
    }
}
