@use "a11y";
@use "btn";

.placeholder {
    &::placeholder {
        font-family: var(--fontname);
        color: inherit;
    }
}

.form {
    &__item {
        margin-bottom: var(--spacing-3);
    }

    &__label {
        display: block;
        margin-bottom: var(--spacing-1);

        &-error {
            display: inline-block;
            color: white;
            padding: 0 var(--spacing-1);
            margin-left: var(--spacing-1);
            background-color: var(--red-5);
        }
    }

    &__desc {
    }

    &__field {
        &--input input,
        &--select select,
        &--upload input,
        &--textarea textarea {
            width: 100%;
            color: CanvasText;
            padding: var(--spacing-1);
            background-color: var(--gray-11);
            border: 1px solid;

            @media (--breakpoint-medium) {
                padding: var(--spacing-2);
            }
        }

        &--select {
            select {
                -webkit-appearance: none;
            }
            
            option {
                background-color: white;
            }
        }

        &--upload {
            width: 100%;

            input {
                line-height: 1;

                &::file-selector-button {
                    @extend .btn;
                }
            }
        }

        &--textarea {
            textarea {
                min-height: 25vh;
            }
        }

        &--checkbox {
            position: relative;

            input {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;

                &:checked ~ label {
                    &:before {
                        content: "×";
                        color: CanvasText;
                    }
                }

                &:focus ~ label {
                    &:before {
                        @extend .focus-visible;
                    }
                }
            }

            label {
                display: flex;
                gap: var(--spacing-3);

                &:before {
                    content: "";
                    display: block;
                    height: 1lh;
                    text-align: center;
                    background-color: white;
                    border: 1px solid black;
                    border-radius: 50%;
                    aspect-ratio: 1/1;
                }
            }
        }
    }
}
