.placeholder {
    &::placeholder {
        font-family: var(--fontname);
        color: inherit;
    }
}

.form {
    &__item {
        margin-bottom: var(--spacing-3);
    }

    &__label {
        display: block;
        margin-bottom: var(--spacing-1);

        &-error {
            display: inline-block;
            color: white;
            padding: 0 var(--spacing-1);
            margin-left: var(--spacing-1);
            background-color: var(--red-5);
        }
    }

    &__desc {
        
    }

    &__field {
        &.error {
            input,
            textarea,
            &.form__field--select {
                &:not(:focus-within):not(:valid) {
                    background-color: var(--yellow-11);
                    outline-color: var(--red-5);
                }
            }
        }

        &--input input,
        &--select select,
        &--upload input,
        &--textarea textarea {
            width: 100%;
            padding: var(--spacing-1);
            background-color: var(--gray-11);
            border: 0;
            outline: var(--bw1) solid var(--gray-1);

            @media (--breakpoint-medium) {
                padding: var(--spacing-2);
            }
        }

        &--select {
            option {
                background-color: white;
            }
        }

        &--upload {
            width: 100%;

            input {
                line-height: 1;
                width: calc(100% - var(--spacing-2) * 2);
            }
        }

        &--textarea {
            textarea {
                min-height: 25vh;
            }
        }

        &--checkbox {
            position: relative;

            @media (--detectHasPointer) {
                &:hover {
                    label {
                        &:before {
                            background-color: black;
                            border-color: black;
                        }
                    }
                }
            }

            input {
                position: absolute;
                top: 0.25em;
                left: 0.25em;
                opacity: 0;

                &:checked ~ label {
                    &:before {
                        background-color: var(--gray-5);
                    }
                }

                &:focus ~ label {
                    &:before {
                        border-color: black;
                    }
                }
            }

            label {
                position: relative;
                padding-left: 2em;

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 1em;
                    height: 1em;
                    text-align: center;
                    line-height: 1;
                    background-color: var(--gray-10);
                    border: 1px solid black;
                    border-radius: 50%;
                    transform: translateY(0.15em);
                    transition: var(--animation-time-small);
                }
            }
        }
    }
}
