// custom grid
.grid {
    display: flex;
    flex-wrap: wrap;
}

@media #{$breakpoint-not-small} {
    .grid-ns {
        display: flex;
        flex-wrap: wrap;
    }
}

@for $i from 1 through $grid-cols {
    .grid-#{$i} {
        width: (100 / $grid-cols) * $i * 1%;
    }
}

@for $i from 1 through $grid-cols {
    @media #{$breakpoint-not-small} {
        .grid-#{$i}-ns {
            width: (100 / $grid-cols) * $i * 1%;
        }
    }
}

// css grid
.grid {
    display: grid;
    grid-template-columns: repeat($grid-cols, 1fr);
    gap: $grid-gap;

    @for $i from 1 through $grid-cols {
        &--subgrid-#{$i} {
            grid-template-columns: repeat($i, 1fr);
        }
    }

    &-outer {
        display: grid;
        grid-template-columns:
            [left] minmax($spacing-medium, 1fr)
            [content] minmax(0, $max-width-9)
            [right] minmax($spacing-medium, 1fr);
        gap: 0;

        @media #{$breakpoint-not-small} {
            grid-template-columns:
                [left] minmax($spacing-large, 1fr)
                [content] minmax(0, $max-width-9)
                [right] minmax($spacing-large, 1fr);
        }
    }

    &__place {
        &--content {
            grid-column: content;
        }

        &--offset-left {
            grid-column: left;
        }

        &--offset-right {
            grid-column: right;
        }

        &--fullwidth {
            grid-column: left / -1;
        }
    }

    &__item--end {
        grid-column-end: -1;
    }

    @for $i from 1 through $grid-cols {
        &__item--start-#{$i} {
            grid-column-start: $i;
        }

        &__item--end-#{$i} {
            grid-column-end: $i + 1;
        }

        &__item--col-span-#{$i} {
            grid-column: span $i;
        }

        &__item--row-span-#{$i} {
            grid-row: span $i;
        }
    }

    &__item--end-ns {
        grid-column-end: -1;
    }

    @for $i from 1 through $grid-cols {
        @media #{$breakpoint-not-small} {
            &__item--start-#{$i}-ns {
                grid-column-start: $i;
            }

            &__item--end-#{$i}-ns {
                grid-column-end: $i + 1;
            }

            &__item--col-span-#{$i}-ns {
                grid-column: span $i;
            }

            &__item--row-span-#{$i}-ns {
                grid-row: span $i;
            }
        }
    }
}
