@media #{$detectHasPointer} {
    // change color on hover
    .hover-purple {
        &:hover {
            color: $purple;
        }
    }
    // change child color on hover
    .hover-child-purple {
        &:hover {
            .hover-child-purple__item {
                color: $purple;
            }
        }
    }

    // change child bg color on hover
    .hover-child-bg-purple {
        &:hover {
            .hover-child-bg-purple__item {
                background-color: $purple;
            }
        }
    }

    // grow child on hover
    .hover-child-grow {
        .hover-child-grow__item {
            transform: scale(1);
        }

        &:hover {
            .hover-child-grow__item {
                transform: scale(1.1);
            }
        }
    }
}
