.icon {
    display: block;

    svg {
        display: block;
        width: 100%;
        height: 100%;
    }

    &-font {
        width: 1em;
        height: 1em;

        @media (--breakpoint-medium) {
            transform: translateY(0.25em);
        }

        &.icon--pa {
            width: 0.6em;
            height: 0.6em;
        }
    }

    &--outline {
        fill: none;
        stroke: currentColor;
        stroke-width: 1px;
    }

    &--fill {
        svg {
            fill: currentColor;
            stroke-width: 0;
        }
    }

    &--ml {
        margin-left: 0.5ch;
    }

    &--mr {
        margin-right: 0.5ch;
    }
}
