// split words by browser
.hyphens-auto {
    hyphens: auto;
}

.hyphens-auto-mobile-only {
    @media #{$breakpoint-small} {
        hyphens: auto;
    }
}

// sticky scrolling elements
.sticky {
    position: sticky;
}

// img cover and contain
.img-cover {
    object-fit: cover;
}

.img-contain {
    object-fit: contain;
}

// remove z-index for aspect-ratio by tachyons
.aspect-ratio--object,
.aspect-ratio--object-ns {
    z-index: inherit;
}

// negative z-index
.zn-1 {
    z-index: -1;
}

// fixed bg
.bg-fixed {
    background-attachment: fixed;
}

// filter blur
.blur {
    filter: blur(0.5rem);
}
.bg-blur {
    backdrop-filter: blur(0.5rem);
}

// display contents
.dc {
    display: contents;
}

// pointer events
.pointer-events-none {
    pointer-events: none;
}

// alpinejs
[x-cloak] {
    display: none !important;
}

// scroll snap
.scrollsnap {
    
    &--x {
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
    }

    &__item {
        scroll-snap-align: start;
    }
}

// no scrollbar
.no-scrollbar {
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}

// flex grid
.flex-grid {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-large;
}
