// split words by browser
.hyphens-auto {
    hyphens: auto;
}

// text balanced
.text-balance {
    text-wrap: balance;
}

// sticky scrolling elements
.sticky {
    position: sticky;
}

// img cover and contain
.img-cover {
    object-fit: cover;
}

.img-contain {
    object-fit: contain;
}

// fixed bg
.bg-fixed {
    background-attachment: fixed;
}

// filter bvackground blur
.bg-blur {
    backdrop-filter: blur(0.5rem);
}

// pointer events
.pointer-events-none {
    pointer-events: none;
}

// alpinejs
[x-cloak] {
    display: none !important;
}

// scroll snap
.scrollsnap {
    &--x {
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
    }

    &__item {
        scroll-snap-align: start;
    }
}

// no scrollbar
.no-scrollbar {
    scrollbar-width: none;
    
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}

// prevent overscroll
.overscroll-behavior-none,
.overscroll-behavior-none * {
    overscroll-behavior: none;
}

// subgrid
.subgrid {
    display: grid;
    grid-template-columns: subgrid;
}

// img layzload hidden
.lazyload-hidden {
    opacity: 0.01;
}
