// fluid content
// $basePxFor1rem = 16;
// $baseDesignWidthFromAdobeXD = 1920;
// $baseFontSize = 100 * $basePxFor1rem / $baseDesignWidthFromAdobeXD;
// Result: .833333333333333vw;
// Note: add class to <html class="scale-content">
.scale-content {
    font-size: calc(
        (100 * 16 / var(--scale-content-mobile)) * 1vw * var(--zoomlevel, 1)
    );

    @media (--breakpoint-medium) {
        font-size: calc(
            (100 * 16 / var(--scale-content-desktop)) * 1vw *
                var(--zoomlevel, 1)
        );
    }
}

// set overflow touch
* {
    //overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
}

// set spacing for anchor links
[id] {
    scroll-margin-top: var(--spacing-3);
}

// scroll-padding for fixed header (WCAG 2.2: 2.4.11 Focus Not Obscured Minimum, Level AA)
html {
    scroll-padding: var(--spacing-4) 0;
}

// remove page bouncing
body {
    overscroll-behavior: none;
}

// coloring scrollbar
::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: currentcolor;
}
* {
    scrollbar-width: thin;
    scrollbar-color: currentcolor transparent;
}
