// link font files
@font-face {
    font-family: "voltaire";
    font-style: normal;
    /* font-weight: normal; */ // remove for variable fonts!
    src: url("https://jens-wittmann.de/voltaire.woff2") format("woff2");
    font-display: swap;
}

// reset browser font styling
*,
button {
    font-family: inherit;
    font-feature-settings: "lnum" 1;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-decoration: inherit;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// reset h1 font-size set by tachyons
h1 {
    font-size: inherit;
}

// set correct button font-family
button {
    font-family: var(--fontname) !important;
}

// set base font style
body {
    font-family: var(--fontname);
    //font-variation-settings: 'wght' 400, 'wdth' 100; /* use to change font-weight/width */
    font-style: normal;
    font-weight: normal;
    //letter-spacing: -0.015em; /* adjust letter spacing depending on font size */
    //word-spacing: -0.1em; /* adjust word spacing depending on font size */
    line-height: var(--lh-copy);
    color: black;
}
