.curlyframework {
    // animation timing
    --animation-time-small: 0.3s;
    --animation-time-medium: 1s;
    --animation-time-large: 3s;

    // line height
    --lh-solid: 1;
    --lh-title: 1.25;
    --lh-copy: 1.5;

    // fonts
    --fontname: sans-serif;

    // spacing
    & {
        --spacing-1: calc(6 / 16 * 1rem);
        --spacing-2: calc(12 / 16 * 1rem);
        --spacing-3: calc(24 / 16 * 1rem);
        --spacing-4: calc(36 / 16 * 1rem);
        --spacing-5: calc(48 / 16 * 1rem);
        --spacing-6: calc(60 / 16 * 1rem);
        --spacing-7: calc(75 / 16 * 1rem);
        --spacing-8: calc(124 / 16 * 1rem);

        @media (--breakpoint-medium) {
            --spacing-1: calc(8 / 16 * 1rem);
            --spacing-2: calc(16 / 16 * 1rem);
            --spacing-3: calc(24 / 16 * 1rem);
            --spacing-4: calc(32 / 16 * 1rem);
            --spacing-5: calc(40 / 16 * 1rem);
            --spacing-6: calc(56 / 16 * 1rem);
            --spacing-7: calc(95 / 16 * 1rem);
            --spacing-8: calc(200 / 16 * 1rem);
        }
    }

    // colors
    --violet-5: #351788;

    // typo, calculate from px
    & {
        --typo-1: calc(16 / 16 * 1rem);
        --typo-2: calc(20 / 16 * 1rem);
        --typo-3: calc(24 / 16 * 1rem);
        --typo-4: calc(32 / 16 * 1rem);
        --typo-5: calc(64 / 16 * 1rem);

        @media (--breakpoint-medium) {
            --typo-1: calc(16 / 16 * 1rem);
            --typo-2: calc(20 / 16 * 1rem);
            --typo-3: calc(24 / 16 * 1rem);
            --typo-4: calc(32 / 16 * 1rem);
            --typo-5: calc(64 / 16 * 1rem);
        }
    }
}

// breakpoints
@custom-media --breakpoint-small screen and (min-width: 30em);
@custom-media --breakpoint-small-only screen and (max-width: 48em);
@custom-media --breakpoint-medium screen and (min-width: 48em);
@custom-media --breakpoint-large screen and (min-width: 60em);

// detect pointer device
@custom-media --detectHasPointer (pointer: fine);
@custom-media --detectNoPointer (pointer: coarse);

// scaling
:root {
    --scale-content-mobile: 390;
    --scale-content-desktop: 1920;
}
