:root {
    --color-main: #292f33;
    --color-cta: oklch(82.77% 0.0329 301.49);
}
// left bar
#modx-header {
    background-color: var(--color-main);
}

.primary-button.x-btn,
.x-btn-focus.primary-button.x-btn:not(.x-btn-over),
.redactor-modx3 .redactor-modal button,
button.c-button:not(.c-button--ghost),
#modx-login-btn {
    color: black;
    background-color: var(--color-cta);

    &:hover,
    &:focus {
        color: black;
        background-color: oklch(86% 0.0329 301.49);
    }
}

#login {
    a,
    .c-button--ghost {
        color: black;
    }

    .c-button--ghost .c-arrow {
        stroke: black;
    }
}

#modx-home-dashboard {
    a {
        display: block;
        width: 100%;
        height: 100%;
        background: #fff url("/assets/tpl/{name}/frontend/favicon.svg")
            no-repeat center;
        background-size: 70%;
        border-radius: 0.5rem;
    }

    img {
        display: none;
    }
}

// hide resource buttons
#modx-abtn-cancel,
#modx-abtn-help {
    display: none !important;
}

// ContentBlocks: add layout
.contentblocks-add-layout {
    margin: -1px !important;

    h3 a {
        height: auto;
        padding: 25px 0;
        background-color: #fff !important;
    }
}

.modx_v23 .contentblocks-region.contentblocks-region-middle {
    border-bottom: 1px solid #e4e4e4;
}

// ContentBlocks: style layout title
.contentblocks-layout-title {
    opacity: 0.5;
}

// ContentBlocks: hide collapse
.contentblocks-collapser {
    display: none !important;
}

// ContentBlocks: image upload
.contentblocks-setting-image {
    .field-label {
        display: none;
    }
}

.contentblocks-field-image-upload,
.contentblocks-field-gallery-upload,
.contentblocks-field-file-upload {
    padding: 10px;
    background: #fcfcfc;
    border: 1px solid #e5e5e5;
}

.contentblocks-field-button {
    &.contentblocks-field-image-choose,
    &.contentblocks-field-gallery-choose,
    &.contentblocks-field-file-choose {
        font-size: inherit;
        color: #1a7fb8;
        padding-right: 0;
        background-color: transparent;
        border-color: transparent;
    }

    &.contentblocks-field-file-choose {
        &:after {
            content: " oder eine Datei in diesen Bereich ziehen (Drag & Drop)";
            color: black;
        }
    }

    &.contentblocks-field-upload,
    &.contentblocks-field-gallery-url,
    &.contentblocks-field-image-url {
        display: none;
    }
}

// ContentBlocks: repeater field labels
// .contentblocks-repeater-mini {
//     .contentblocks-field-link,
//     .contentblocks-float-label {
//         label {
//             padding: 5px;
//             background-color: white;
//         }
//     }
// }

// ContentBlocks: chunk selector
.contentblocks-field-chunk_selector {
    pointer-events: none;
    position: relative;

    &:before {
        content: "Only for Admin 🤙🏻";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: gray;
        text-align: center;
    }

    * {
        filter: blur(0.2rem);
    }
}

// ContentBlocks: layout field settings
.modx_v23 .contentblocks-region-container-header {
    border-top: 1px solid #e4e4e4;
    box-shadow: none;
}

.contentblocks-region-container-tools {
    display: none;
}

.contentblocks-region-container-header {
    &:hover,
    &:focus {
        .contentblocks-region-container-tools {
            display: block;
        }
    }
}

.contentblocks-region-settings {
    border-bottom: 2px solid #eee;

    .contentblocks-exposed-fields-wrapper.contentblocks-exposed-fields-as-setting-wrapper {
        display: grid;
        margin: -10px 0;

        & > label {
            display: none;
        }

        .contentblocks-modal-field {
            display: flex;
            align-items: center;
            padding: 5px 0;

            label {
                overflow: hidden;
                width: 40%;
                font-size: 9px;
                text-indent: -10px;
                margin: 0;
            }

            input {
                width: 60%;
                padding: 3px;
                margin-right: 10px;
            }

            .contentblocks-setting-description {
                display: none;
            }
        }
    }
}

// [data-layout="1"] {
//     .contentblocks-region-settings
//         .contentblocks-exposed-fields-wrapper.contentblocks-exposed-fields-as-setting-wrapper {
//         grid-template-columns: 1fr 1fr;
//     }
// }

// [data-layout="2"] {
//     .contentblocks-region-settings
//         .contentblocks-exposed-fields-wrapper.contentblocks-exposed-fields-as-setting-wrapper {
//         grid-template-columns: 1fr 1fr 1fr 1fr;
//
//         .contentblocks-modal-field {
//             &:nth-child(3),
//             &:nth-child(7) {
//                 margin-left: 4px;
//                 border-right: 5px solid #f5f5f5;
//             }
//         }
//     }
// }

// ContentBlocks: layout system
// [data-layout="3"] {
//     .contentblocks-add-layout.contentblocks-add-layout-here,
//     .contentblocks-add-block,
//     .contentblocks-region-container-header,
//     .contentblocks-field-delete,
//     .contentblocks-add-content-here {
//         display: none !important;
//     }
//
//     .contentblocks-field-wrap,
//     .contentblocks-region.contentblocks-region-middle {
//         padding: 0;
//         border: 0;
//     }
// }

// ContentBlocks: system fields
// [data-layout="3"] [data-field] {
//     background-color: white;
//     padding-bottom: 20px;
//     margin: -10px -1px 0 -1px;
//
//     img {
//         max-width: 15rem;
//     }
//
//     .contentblocks-field-image-title {
//         display: none;
//     }
// }

// ContentBlocks: repeater project details
// [data-field="11"] {
//     .contentblocks-field-outer {
//         margin: 0;
//     }
//
//     .contentblocks-field > label {
//         display: none;
//     }
//
//     .contentblocks-field label {
//         margin: 2px 0;
//     }
//
//     .contentblocks-repeater-wrapper.contentblocks-repeater-1-columns {
//         margin: 0 -3px;
//     }
//
//     .contentblocks-repeater-row {
//         padding: 0;
//         margin: 0;
//         border: 0 !important;
//     }
//
//     .contentblocks-field-actions-top {
//         display: none;
//     }
//
//     .contentblocks-repeater-item-wrapper
//         > li
//         > div
//         > .contentblocks-field-repeater
//         > .contentblocks-repeater-wrapper {
//         margin: 0;
//         border: 0;
//     }
//
//     .contentblocks-repeater-item-actions {
//         top: 0;
//         right: -10px;
//         z-index: 1;
//         background-color: transparent;
//     }
//
//     .contentblocks-field-actions-bottom {
//         padding: 0;
//     }
//
//     .contentblocks-repeater-add-item {
//         transform: scale(0.75);
//     }
// }

// ContentBlocks: hide add layout for team members
// .template-id-3 {
//     .contentblocks-add-layout {
//         display: none;
//     }
// }

// ContentBlocks repeater fields: move settings on first position
.modx_v23 .contentblocks-field-wrap {
    display: flex;
    flex-direction: column-reverse;
}

// MagicPreview: style preview buttons
// #modx-abtn-preview {
//     margin-left: -.6rem !important;
//     border-top-left-radius: 0;
//     border-bottom-left-radius: 0;
//
//     &:before {
//         content: "↗";
//     }
//
//     .x-btn-text {
//         text-indent: -1000px;
//     }
// }

// MagicPreview: style template
.mmmp-c-container__inner {
    position: fixed;
    left: 0;
    bottom: 1rem;
    right: 0;
    justify-content: center;
    background-color: transparent;
    box-shadow: none;

    .mmmp-c-title {
        display: none;
    }

    .mmmp-c-breakpoints {
        padding: 0;
        border-radius: 5px;
        outline: 1px solid #acacac;

        &__item-label {
            font-size: 0.75rem;
            color: #53595f;
            margin: 0;
            background-color: #f1f1f1;
            box-shadow: none;
        }
    }

    .mmmp-c-breakpoints__input[type="radio"]:checked
        + .mmmp-c-breakpoints__item
        > .mmmp-c-breakpoints__item-label {
        background-color: #53595f;
    }

    .mmmp-c-close {
        display: none;
    }
}

// collections buttons
.collections-grid {
    .actions {
        a {
            font-weight: normal;
            background: none;
        }
    }
}
