// hide resource buttons
#modx-abtn-cancel,
#modx-abtn-help {
    display: none !important;
}

// ContentBlocks: add layout
.contentblocks-add-layout {
    margin: -1px !important;

    h3 a {
        height: auto;
        padding: 25px 0;
        background-color: #fff !important;
    }
}

.modx_v23 .contentblocks-region.contentblocks-region-middle {
    border-bottom: 1px solid #e4e4e4;
}

// ContentBlocks: style layout title
.contentblocks-layout-title {
    opacity: 0.5;
}

// ContentBlocks: hide collapse
.contentblocks-collapser {
    display: none !important;
}

// ContentBlocks: image upload
.contentblocks-setting-image {
    .field-label {
        display: none;
    }
}

.contentblocks-field-image-upload,
.contentblocks-field-gallery-upload,
.contentblocks-field-file-upload {
    padding: 10px;
    background: #fcfcfc;
    border: 1px solid #e5e5e5;
}

.contentblocks-field-button {
    &.contentblocks-field-image-choose,
    &.contentblocks-field-gallery-choose,
    &.contentblocks-field-file-choose {
        font-size: inherit;
        color: #1a7fb8;
        padding-right: 0;
        background-color: transparent;
        border-color: transparent;
    }

    &.contentblocks-field-file-choose {
        &:after {
            content: " oder eine Datei in diesen Bereich ziehen (Drag & Drop)";
            color: black;
        }
    }

    &.contentblocks-field-upload,
    &.contentblocks-field-gallery-url,
    &.contentblocks-field-image-url {
        display: none;
    }
}

// ContentBlocks: repeater field labels
.contentblocks-repeater-mini {
    .contentblocks-field-link,
    .contentblocks-float-label {
        label {
            padding: 5px;
            background-color: white;
        }
    }
}

// ContentBlocks: chunk selector
.contentblocks-field-chunk_selector {
    pointer-events: none;
    position: relative;

    &:before {
        content: "Only for Admin 🤙🏻";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: gray;
        text-align: center;
    }

    * {
        filter: blur(0.2rem);
    }
}

// ContentBlocks: layout field settings
.modx_v23 .contentblocks-region-container-header {
    border-top: 1px solid #e4e4e4;
    box-shadow: none;
}

.contentblocks-region-settings {
    border-bottom: 2px solid #eee;
}

.contentblocks-exposed-fields-wrapper.contentblocks-exposed-fields-as-setting-wrapper {
    display: grid;
    margin: -10px 0;

    & > label {
        display: none;
    }

    .contentblocks-modal-field {
        display: flex;
        align-items: center;
        padding: 5px 0;

        label {
            overflow: hidden;
            width: 40%;
            font-size: 9px;
            text-indent: -10px;
            margin: 0;
        }

        input {
            width: 60%;
            padding: 3px;
            margin-right: 10px;
        }

        .contentblocks-setting-description {
            display: none;
        }
    }
}

// [data-layout="1"] {
//
//     .contentblocks-exposed-fields-wrapper.contentblocks-exposed-fields-as-setting-wrapper {
//         grid-template-columns: 1fr 1fr;
//     }
// }
//
// [data-layout="2"] {
//
//     .contentblocks-exposed-fields-wrapper.contentblocks-exposed-fields-as-setting-wrapper {
//         grid-template-columns: 1fr 1fr 1fr 1fr;
//
//         .contentblocks-modal-field {
//
//             &:nth-child(3),
//             &:nth-child(7) {
//                 margin-left: 4px;
//                 border-right: 5px solid #f5f5f5;
//             }
//         }
//     }
// }

// ContentBlocks: layout system
// [data-layout="3"] {
//
//     .contentblocks-add-layout.contentblocks-add-layout-here,
//     .contentblocks-add-block,
//     .contentblocks-region-container-header,
//     .contentblocks-field-delete {
//         display: none !important;
//     }
//
//     .contentblocks-field-wrap,
//     .contentblocks-region.contentblocks-region-middle {
//         padding: 0;
//         border: 0;
//     }
// }

// ContentBlocks: preview image
// [data-field="9"] {
//     background-color: white;
//     padding-bottom: 50px;
//     margin: -10px -1px 0 -1px;
//
//     img {
//         max-width: 10rem;
//     }
// }
