.spacer {
	height: 3.25rem;
}

.richtext {
	
	p {
		margin-bottom: $spacing-medium;
	}
	
	a {
		text-decoration: underline;
	}
}

.faq-item {
		
	&.is-active {
		
		.faq-item-title-icon {
			transform: rotate(90deg);
			transition: $faq-transition;
		}
		
		.faq-item-content {
			max-height: 100rem;
			transition: $faq-transition;
		}
	}
		
	.faq-item-title-icon {
		transform: rotate(0);
		transform-origin: 50% 100%;		
		transition: $faq-transition;
	}
	
	.faq-item-content {
		overflow: hidden;
		max-height: 0;
		transition: $faq-transition;
	}
}

.news-highlight {
	max-height: 150rem;
	transition: $faq-transition;
	
	&.loading {
		overflow: hidden;
		max-height: 0;
		transition: $faq-transition;
	}
	
	.news-richtext {
		position: relative;
		overflow: hidden;
		max-height: 17.5rem;
		transition: $faq-transition;
		
		&.is-active {
			max-height: 150rem;
			transition: $faq-transition;
			
			&:before,
			&:after {
				opacity: 0;
			}
		}
		
		&:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			display: block;
			width: 100%;
			height: 10rem;
			background: linear-gradient(0deg, rgba(white, 1) 20%, rgba(white, 0) 100%);
			opacity: 1;
			transition: $faq-transition;
		}
		
		&:after {
			content: 'News lesen';
			position: absolute;
			left: 0;
			bottom: 0;
			cursor: pointer;
			display: block;
			font-weight: 500;
			text-decoration: underline;
			color: $green;	
			opacity: 1;
			transition: $faq-transition;		
		}
	}
}

.news-richtext {
	
	h3 {
		font-size: $font-size-5;
		font-weight: 500;
		text-transform: uppercase;
		margin-bottom: $spacing-small;
	}
	
	p {
		margin-bottom: $spacing-medium;
	}
	
	.hide_image_author {
		color: $gray;
	}
}