.icon {
	
	svg {
		width: 100%;
		height: 100%;
		fill: currentColor;
	}
}

.icon1 {
	width: $icon-size-1;
	height: $icon-size-1;
}

.icon2 {
	width: $icon-size-2;
	height: $icon-size-2;
}

.icon3 {
	width: $icon-size-3;
	height: $icon-size-3;
}

.icon--black {
	
	path,
	rect,
	polygon {
		fill: $black;
	}
}

.icon--gray {
	
	path,
	rect,
	polygon {
		fill: $gray;
	}
}

.icon--white {
	
	path,
	rect,
	polygon {
		fill: $white;
	}
}