.icon {
	display: inline-block;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	border: 0 !important;
}

.icon-sm {
	width: .75rem;
	height: .75rem;
}

.icon-md {
	width: 1.25rem;
	height: 1.25rem;
}

.icon-lg {
	width: 2rem;
	height: 2rem;
}