html {
	font-size: 100%;
	
	@media #{$breakpoint-large} {
		font-size: 100%;
	}
}

// reset
* {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth; // smooth scrollto
	-webkit-overflow-scrolling: touch; // set overflow touch for ios
}

// prevent scrolling on body for overlays
body[data-scrolling='true'] {
	overflow: hidden;
	overflow-y: scroll; // prevent page jumping if no scrollbar is needed
}

body[data-scrolling='false'] {
	overflow: hidden;
}