html {
	font-size: 100%;
	
	@media #{$breakpoint-large} {
		font-size: 100%;
	}
}

* {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth; // smooth scrollto
	-webkit-overflow-scrolling: touch; // set overflow touch for ios
}