* {
	font-family: inherit;
	font-style: normal;
	font-weight: inherit;
	font-size: inherit;
	text-decoration: inherit;
	color: inherit;
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: '';
	font-style: normal;
	font-weight: 400;
	font-size: $font-size-5;
	line-height: 1.5;
	color: $black;
}