@font-face {
	font-family: 'FONTNAME';
	font-style: normal;
	font-weight: 400;
	src: local('FONT NAME'),
		 url('font/FONTNAME.woff') format('woff2'),
		 url('font/FONTNAME.woff') format('woff');	
	font-display: swap;
}

* {
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	font-size: inherit;
	text-decoration: inherit;
	color: inherit;
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: 'FONTNAME', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: $font-size-4;
	line-height: $line-height-copy;
	color: $black;
}