@import 'vars';
@import 'basscss/basscss.scss';
@import 'basscss/basscss-addons.scss';
@import 'mixins';
@import 'icons';
@import 'typo';
@import 'head';
@import 'btn';
@import 'styling';
@import 'wysiwyg';
@import 'slick';
@import 'modaal';

// Device check
.check-device { font-size: 20px !important; }
@include breakpoint($breakpoint-md) { //tablet
	.check-device { font-size: 30px !important; }
}
@include breakpoint($breakpoint-lg) { //desktop
	.check-device { font-size: 40px !important; }
}