/*

   FLOATS
   Docs: https://tachyons.io/docs/layout/floats/

   1. Floated elements are automatically rendered as block level elements.
      Setting floats to display inline will fix the double margin bug in
      ie6. You know... just in case.

   2. Don't forget to clearfix your floats with .cf

   Base:
     f = float

   Modifiers:
     l = left
     r = right
     n = none

   Media Query Extensions:
     -s = small
     -m = medium
     -l = large

*/

.fl { float: inline-start; }
.fr { float: inline-end; }
.fn { float: none; }

@media (--breakpoint-small) {
  .fl-s { float: inline-start; }
  .fr-s { float: inline-end;  }
  .fn-s { float: none; }
}

@media (--breakpoint-medium) {
  .fl-m { float: inline-start;  }
  .fr-m { float: inline-end;  }
  .fn-m { float: none; }
}

@media (--breakpoint-large) {
  .fl-l { float: inline-start; }
  .fr-l { float: inline-end; }
  .fn-l { float: none; }
}
