/* Basscss Media Object */

.media,
.sm-media,
.md-media,
.lg-media {
  margin-left: -$media-object-space;
  margin-right: -$media-object-space;
}

.media {
  display: flex;
}

.media-center {
  align-items: center;
}

.media-bottom {
  align-items: flex-end;
}

.media-img,
.media-body {
  padding-left: $media-object-space;
  padding-right: $media-object-space;
}

.media-body {
  flex: 1 1 auto;
}

@media #{$breakpoint-sm} {
  .sm-media { display: flex }
}

@media #{$breakpoint-md} {
  .md-media { display: flex }
}

@media #{$breakpoint-lg} {
  .lg-media { display: flex }
}