/* Basscss Progress */

.progress {
  display: block;
  width: 100%;
  height: ( $form-field-height / 4 );
  margin: $form-field-padding-y 0;
  overflow: hidden;
  background-color: $darken-2;
  border: 0;
  border-radius: 10000px;
  -webkit-appearance: none;
}

.progress::-webkit-progress-bar {
  -webkit-appearance: none;
  background-color: $darken-2
}

.progress::-webkit-progress-value {
  -webkit-appearance: none;
  background-color: currentcolor;
}

.progress::-moz-progress-bar {
  background-color: currentcolor;
}